* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.navigation-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-img {
    border-radius: 35px;
    width: 70px;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
}

.Categories {
}

#selected-primary {
    color: rgba(212, 218, 247, 0.74);
    border-right: 2px solid white;
}

#selected-secundary {
    color: rgb(255, 255, 255);
}

#selected-secundary:hover {
    color: rgba(212, 218, 247, 0.74);
}

.page-content {
    border-top: 1px solid rgb(255, 255, 255);
}

.presentation-page {
  text-align: center;
  margin-top: 50px;
}

.presentation-page h1 {
    color: whitesmoke;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    font-size: 20px;
    font-size-adjust: 50px;
}

.button-primary {
    width: 271px;
    height: 25px;
    margin: auto;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    transition: 200ms;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.button-primary:hover {
    border-bottom: 3px solid rgb(0, 47, 255);
    background-color: rgb(0, 153, 255);
    color: whitesmoke;
}

.video-presentation {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    margin-bottom: 60px;
}

footer {
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
}

footer h5 {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.836);
}

.footer-content {
    margin-top: 10px;
}

#footer-link-primary {
    color: rgba(255, 255, 255, 0.623);
    border-right: 1px solid blue;
}

#footer-link-secundary {
    color: rgba(255, 255, 255, 0.623);
}